<!DOCTYPE html>
<html>
<head>
<style>



</style>
</head>
<body>

<title>Page Title</title>
<h1>About Me</h1>
<small><%= link_to "Home", root_path %></small>
</body>
</html>

<div class="background-wrap">
<video id="video-bg-elem" preload="auto" autoplay="true" loop="loop" muted="muted">
<source src="/videos/snow.mp4" type"video/mp4">
</video>


</html>





</div>



